<nav>
    <a routerLink="/home">
      <div id="bannerimage">
        <img class="banner-image" src="/assets/images/imperialsymbol.png" alt="">
        <img class="banner-image" src="/assets/images/sithsymbol.png" alt="">
      </div>
    </a>
  </nav>
  <h1 class="title-header">THE EMPIRE KEEPS YOU SAFE, STAND FIRM CITIZEN!</h1>
  <div class="details">
  <div class="details-image">
      <img src="{{lord.imgsrc}}" alt="">
  </div>
  <div class="details-main">
    <h2 class="details-name">{{lord.name}}</h2>
    <h4 class="quote-chunk">{{lord.quote}}</h4>
    <p style="white-space:pre-wrap">{{lord.bio}}</p>
    <img class="details-main-image" src="/assets/images/sithsymbol.png" alt="">
  </div>
    </div>
  
