.lord-class {
    border: 2px solid #D4D4D4;
    height: 400px;
    width: 300px;
    margin: 15px;
    color: red;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
}

.lord-class :hover {
    color: black;
    text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.65);
}

a:-webkit-any-link { text-decoration: none; }

a:link { 
    text-decoration: none; 
}


a:visited { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

a {
    text-decoration: none;
}

.lord-title {
    text-align: center;
    position: relative;
    bottom: 60px;
    text-decoration: none;
    width: 100%;
    font-family: 'Space Mono', monospace;
}