<nav>
    <a routerLink="/home">
      <div id="bannerimage">
          <img class="banner-image" src="/assets/images/imperialsymbol.png" alt="">
          <img class="banner-image" src="/assets/images/sithsymbol.png" alt="">
      </div>
    </a>
  </nav>
  <h1 class="title-header">THE EMPIRE KEEPS YOU SAFE, STAND FIRM CITIZEN!</h1>
  <h2 class="title-header">CLICK BELOW TO FIND OUT MORE ABOUT YOUR SYSTEMS DEFENDERS!</h2>
  <div class="home-main">
  <carousel class="carousel-cage"
  [arrows]="false"
  [autoplay]="true"
  [cellsToShow]="3"
  [borderRadius]="10"
  [height]="400"
  [objectFit]="'contain'">
    <div class="carousel-cell">
        <img src="/assets/images/battle.jpg">
    </div>
    <div class="carousel-cell">
        <img src="/assets/images/battle2.jpg">
    </div>
    <div class="carousel-cell">
        <img src="/assets/images/battle3.jpg">
    </div>
    <div class="carousel-cell">
        <img src="/assets/images/battle4.jpg">
    </div>
    <div class="carousel-cell">
        <img src="/assets/images/battle5.jpg">
    </div>
  </carousel>
  <div class="lord-list">
    <div *ngFor="let lord of lords">
        <nav>
            <a routerLink="/lord-detail/{{lord.id}}">
                <app-lord
                    [lordImgsrc] = "lord.imgsrc"
                    [lordName] = "lord.name"
                    [lordBio] = "lord.bio"
                    [lordQuote] = "lord.quote">
                </app-lord>
            </a>
        </nav>
      </div>
  </div>
</div>
